.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.title {
  border: 1px solid var(--md-border);
  outline: none;
  color: var(--foreground);
  background-color: var(--primary-bg);
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
}

.altTitle {
  border: none;
  border-radius: 2px;
  color: var(--secondary-accent);
  background-color: var(--secondary-bg);
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  width: 80%;
  box-shadow: 4px 4px 0 var(--primary-accent);
}

.content {
  display: flex;
  flex-grow: 1;
  border: none;
  border-radius: 2px;
  background-color: var(--secondary-bg);
  font-size: 1rem;
  padding: 1.5rem;
  min-height: 2rem;
  width: 90%;
  word-wrap: normal;
}

.submit {
  color: var(--foreground);
  background-color: transparent;
  border: 1px solid var(--md-border);
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 200ms;
}

.date {
  margin: 0;
  font-size: 1rem;
  color: var(--secondary-accent);
}

@media (prefers-color-scheme: light) {
  .title {
    background-color: var(--secondary-bg);
  }

  .submit {
    background-color: var(--secondary-bg);
  }
}