:root {
  --foreground: #0a0200;
  --primary-bg: #ffeeeb;
  --secondary-bg: #fff;
  --primary-accent: #d6fe25;
  --secondary-accent: #feb925;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f2e6d9;
    --primary-bg: #000;
    --secondary-bg: #171008;
    --primary-accent: #542a79;
    --secondary-accent: #4abf89;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0; padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  color: var(--foreground);
  background-color: var(--primary-bg);
}