.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  background-color: var(--secondary-bg);
  width: 250px; height: 250px;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  box-shadow: 4px 4px 0 var(--primary-accent);
}

.main > h4 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-accent);
}

.main > p {
  display: flex;
  flex-grow: 1;
  padding: 0 1rem;
  text-align: left;
  font-size: 0.9rem;
}

.main > .date {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-accent);
}

.main > .image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.clickable {
  color: var(--secondary-accent);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}